body, html {
    height: 100%;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.page { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    text-align: center;
    height: 150px;
    padding: 0% !important;
    margin-bottom: 0% !important;
    background-color: transparent !important;
}

.content{
    background-color: #1f1f1e;
    color: white;
    height: 100%;
}

.title{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.time{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.question{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#q-image{
    text-align: center;
    width: 100%;
}

.answer{
    background-color:#d0451b;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 18px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    margin: 0px 15px;
}

#answers{
    visibility: hidden;
}

.advance, .reset{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    background-color: gray;
    width: 100%;
}

button{
     width: 100%;
}

.myButton:hover{
    background-color: #942911;
}

.myButton-sub:hover{
    background-color: #153b61;
}

.myButton {
	background-color:#d0451b;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.myButton-sub {
	background-color: #205c99;
	border:1px solid #153b61;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}


.but{
    padding: 0% !important;
}

.but-0{
    padding-right: 0 !important;
}

.but-1{
    padding-left: 0 !important;
}
.myButton:focus, .answer:focus {
	position:relative;
	top:1px;
    background-color: #942911;
}
.myButton-sub:focus , .myButton-sub:active{
	position:relative;
	top:1px;
    background-color: #153b61;
}

